#root {
  margin: 0 auto;
  text-align: center;
}

.default-container {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
